.header {
    display: flex;
    position: fixed;
    align-items: center;
    left: 240px;
    right: 330px;
    top: 0;
    height: 70px;
    padding: 0 var(--padding-section);
    z-index: 99;
    min-width: 660px;

    .level {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .level-left {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-start;

            .btn-icon {
                background-color: transparent;
                opacity: .3;
                border: 0;
                padding: 0;
                outline: none;
            }

            .search {
                position: relative;
                width: 100%;
                max-width: 540px;

                .search-container {
                    position: relative;
                    border-radius: 20px;
                    height: 40px;
                    background-color: var(--alpha-bg);

                    .btn-search {
                        display: flex;
                        align-items: center;
                        // opacity: .7;
                        padding: 0;
                        margin: 0;
                    }

                    .input-wrapper {
                        position: absolute;
                        top: 0;
                        left: 38px;
                        right: 10px;
                        bottom: 0;

                        input {
                            margin: 0;
                            display: inline-block;
                            width: 95%;
                            font-size: 14px;
                            color: var(--search-text);
                            background-clip: padding-box;
                            border: 0;
                            position: relative;
                            top: 2px;
                            height: 34px;
                            padding: 5px 0;
                            line-height: 34px;
                            background-color: transparent;
                            outline: 0;
                        }

                        input::placeholder {
                            color: var(--search-text);
                            opacity: 0.8;
                        }
                    }
                }

                .is-collapse {
                    border: 1px solid transparent;
                    border-radius: 20px 20px 0 0;
                    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
                    background-color: var(--primary-bg) !important;
                }

                .suggest-list {
                    display: block;
                    position: absolute;
                    overflow: hidden;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 13px 10px;

                    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
                    color: var(--text-primary);
                    background-color: var(--primary-bg);
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    z-index: 5;

                    .suggest-list__content {
                        max-height: calc(100vh - 180px);
                        overflow: auto;

                        .suggest-title {
                            display: flex;
                            justify-content: space-between;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 0 10px 8px;
                        }

                        .suggest-item {
                            display: flex;
                            position: relative;
                            align-items: baseline;
                            border-radius: 4px;
                            padding: 8px 10px;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            cursor: pointer;
                        }

                        .suggest-item:hover {
                            background-color: var(--alpha-bg);
                        }
                    }
                }
            }
        }

        .level-right {
            display: flex;
            align-items: center;
            margin-top: 0;
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;

            .setting-item {
                position: relative;
                margin-right: 10px;

                .tooltip-btn {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--alpha-bg);
                    border-radius: 50%;
                    border: 0;
                }
            }

            .avatar {
                position: relative;

                .avatar-frame {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        background-color: transparent;

                        figure {
                            overflow: hidden;
                            background-color: var(--loading-bg);
                            margin: 0;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        // .is-38x38{
                        //     width: 38px;
                        //     height: 38px;
                        // }
                        // .is-rounded{
                        //     border: 0;
                        //     border-radius: 50%;
                        // }
                    }

                }

                .menu-setting {
                    position: absolute;
                    width: 240px;
                    top: 50px;
                    right: 0;
                    border-radius: 8px;
                    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
                    background-color: var(--primary-bg);

                    .menu-list {
                        padding: 10px 0;
                        li {
                            color: var(--navigation-text);
                        }
                        .header-player-setting{
                            position: relative;
                            a{
                                button{
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    padding:12px 20px 12px 17px;
                                    text-align: left;
                                    span{
                                        margin-left: 10px;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                        .logout-header{
                            margin-top: 20px;
                            position: relative;
                        }
                        .logout-header::after{
                            content: "";
                            position: absolute;
                            top: -10px;
                            width: 100%;
                            height: 1px;
                            background-color: var(--border-primary);
                        }
                    }
                }
            }

            .login-container {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;

                button {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background-color: transparent;

                    figure {
                        overflow: hidden;
                        background-color: var(--loading-bg);
                        margin: 0;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

}