.text-center{
    text-align: center;
}
#panel-login, #panel-signup, #panel-forgot{
    h3{
        font-size: 24px;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: sans-serif;
        color: #2d385e
    }
}
#panel-login.active, #panel-signup.active, #panel-forgot.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
};
@media (max-width: 760px) {   
    .hidden-xs,.hidden-sm{
        display: none;
    }
}
.error-input{
    display: block;
    position: relative;
    margin: 5px 0;
    padding: 10px;
    color: rgb(245, 35, 35);
    span{
        color: currentColor;
        opacity: 0.8;
    }
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background-color: currentColor;
        opacity: 0.2;
        z-index: 0;
    }
}