*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --bg-sidebar: hsla(0,0%,100%,0.05);
  --alpha-bg: hsla(0,0%,100%,0.1);
  --layout-bg: #542c75;
  --alpha-layout-bg: rgb(93 54 124);
  --loading-bg: hsla(0,0%,100%,0.1);
  --navigation-text: #dadada;
  --primary-bg: #6a39af;
  --purple-primary: #ed2b91;
  --text-placeholder: #dadada;
  --text-primary: #fff;
  --text-secondary: hsla(0,0%,100%,0.5);
  --text-item-hover: #fff;
  --white: #fff;
  --black: #32323d;
  --search-text: #eee;
  --border-primary: hsla(0,0%,100%,0.1);
  --dark-alpha-50: rgba(0,0,0,0.5);
  --padding-section: 59px;
  --hover-tooltip-opacity: hsla(0,0%,100%,0.3);

  /* --border-primary: rgba(0,0,0,0.1); */

  --scroll-thumb-bg: hsla(0,0%,100%,0.3);

  --img-logo-mp3: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
}
body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: var(--text-primary);
  background-color: var(--layout-bg);
  font-weight: 400;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  overflow: hidden;
}
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset #fff;
  border-radius: 4px;
}
:focus{
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div p{
  word-break: break-word;
}
.btn{
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
button, input, select, textarea, optgroup{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}
button, optgroup, select{
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* icon play */
.icon.ic-svg-play-circle{
  background-image: url("https://zjs.zadn.vn/zmp3-desktop/releases/v1.6.2/static/media/play.81e7696e.svg");
}
/* icon running music */
.ic-gif-playing-white{
  background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/icons/icon-playing.gif");
}
.icon.ic-gif-playing, .icon.ic-gif-playing-auto, .icon.ic-gif-playing-white {
  width: 18px;
  height: 18px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
}
/* css Link router */
.link-router{
  color: var(--white);
}
/* layout css */
.layout{
  display: flex;
  width: 100%;
  min-width: 768px;
  height: 100vh;
  background-color: var(--layout-bg);
}

/* sidebar css */
.is-active{
  background-color: var(--alpha-bg);
  color: var(--text-item-hover);
  border-left: 3px solid var(--purple-primary) !important;
}
.is-medium{
  font-size: 14px;
  padding: 9px 24px;
}
.is-outline{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: var(--alpha-bg);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  margin: 0 auto;
}
.is-upper{
  text-transform: uppercase;
}
.is-hidden{
  display: none;
}
.pt-15{
  padding-top: 15px!important;
}
/* main-page css */
.container{  
  position: relative;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto
}
h1.title, h3.title{
  font-size: 18px;
  color: var(--text-primary);
  margin-bottom: 10px;
}
/* .is-48x48{
  width: 48px;
  height: 48px;
} */
.card{
  width: 100%;
  position: relative;
}
.opacity{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-alpha-50);
  visibility: hidden;
}
.icon{
  line-height: 66%;
  display: inline-block;
}
.actions{
  position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    z-index: 98;
    transform: translateX(-50%) translateY(-50%);
    display: -moz-flex;
    display: flex;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    visibility: hidden;
    width: 80%;
}
.btn.active:hover, .btn:hover{
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}